<h2>Iniciar Sesión</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <label class='control-label col-lg-2'>Email</label> 
    <div class="col-lg-10">
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>
  </div>
  <br/>
  <br/>

  <div class="form-group">
    <label class='control-label col-lg-2'>Contraseña</label> 
    <div class="col-lg-10">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>
  <br/>
  <br/>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Guardar",  :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>

